.buttonRoot {
  height: 12rem;
  width: 13vw;
  padding: 0 !important;
  margin: 0.5rem !important;
}

.buttonOutlined {
  padding: 0 !important;
  border: 0 !important;
}

.buttonContainer {
  height: 12rem;
  display: flex !important;
  flex-direction: column;
}

.buttonNumber {
  font-size: 2rem;
  font-weight: bold;
  flex: 1 1 0;
  padding-top: 0;
}

.buttonEvents {
  flex: 4 1 0;
  overflow: auto;
  align-self: stretch;
  padding: 0 1rem;
}

.buttonEvent {
  font-size: 1rem;
  overflow: hidden;
  text-transform: capitalize;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}
