.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #6b7f82;
}

.content {
  flex: 1;
}

Footer {
  flex-shrink: 0;
}

.MuiDrawer-paperAnchorRight {
  background-color: #e4dfda !important;
  width: 20%;
}
