.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./images/background.png);
  background-size: 631.4px 428.4px;
}

.content {
  flex: 1;
}

Footer {
  flex-shrink: 0;
}

.MuiDrawer-paperAnchorRight {
  background-color: #e4dfda !important;
  width: 20%;
}

.MuiDrawer-paperAnchorLeft {
  background-color: #e4dfda !important;
  width: 15%;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

Link {
  text-decoration: none;
  color: white;
}
